<section id="errorModal" ng-init="isCollapsed=true">
    <div class="modal-body">
    <h1 class="modal-title text-center">Oops <small>{{error.status}}</small></h1>
    <p class="lead text-center">
      <strong>{{error.status}} {{error.statusText}}.</strong>
    </p>
    <p class="text-center"><a href="" ng-click="isCollapsed=!isCollapsed">toggle debug information</a></p>
    <pre uib-collapse="isCollapsed">{{error}}</pre>
    <button class="btn btn-warning center-block" type="button" ng-click="cancel()">Ok</button>
  </div>
</section>
