<section id="hangar">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h1>Hangar
                <small>{{drones.length}} Drones in Hangar</small>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <uib-accordion close-others="true" ng-click="footerOpen=!footerOpen">
      <uib-accordion-group ng-repeat="drone in drones track by $index" heading="">
        <uib-accordion-heading>
          <p class="text-right">
            <span class="pull-left lead">{{drone.name || "drone-" + drone.firmwareId}}</span>
            <span class="badge text-info">{{drone.missions.length}} Missions</span>
            <span
              class="label"
              ng-class="{
                'label-success': liveDroneData[drone._id].status == 'online',
                'label-danger': liveDroneData[drone._id].status == 'offline',
                'label-info': !liveDroneData
                }">
                {{liveDroneData[drone._id].status || "working..."}}
            </span>
          </p>
        </uib-accordion-heading>
        <div class="row">
          <div class="col-sm-4">
            <div class="well" ng-init="isCollapsed = true">
              <h3>{{drone.name || "drone-" + drone.firmwareId}} <small>
                  <a href="" ng-click="isCollapsed=!isCollapsed; updateDrone(isCollapsed, drone)">{{isCollapsed ? 'edit' : 'update'}}</a></small></h3>
              <div uib-collapse="isCollapsed">
                <form class="well-sm">
                  <fieldset class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" ng-model="drone.name">
                  </fieldset>
                  <fieldset class="form-group">
                    <label>System Id</label>
                    <input class="form-control" type="number" ng-model="drone.systemId" min="1" max="254">
                  </fieldset>
                </form>
              </div>
              <p>
                <strong>Created On:</strong> {{drone.created | date:'medium'}} <br>
                <strong>Hardware Id:</strong> {{drone.hardwareId}} <br>
                <strong>Type:</strong> {{drone.type}} <br>
                <strong>Manufacturer:</strong> {{drone.manufacturer || "unknown"}} <br>
                <strong>System Id: </strong> {{drone.systemId}} <br>
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <img class="img-responsive" src="assets/img/lucismall.png">
          </div>
          <div class="col-sm-4">
            <hgroup class="text-left">
              <h4><span class="glyphicon glyphicon-flash"></span>
              Power</h4>
              <uib-progressbar ng-hide="liveDroneData[drone._id] == 'offline'"  type="info" max="100" value="50"></uib-progressbar>
              <p ng-show="liveDroneData[drone._id] == 'offline'">Offline.</p>
            </hgroup>

            <hgroup class="text-left" ng-init="usage=(drone.missions.length / 200) * 100">
              <h4><span class="glyphicon glyphicon-cloud"></span>
              Cloud Usage</h4>
              <uib-progressbar type="info" max="100" value="usage"></uib-progressbar>
            </hgroup>

            <hgroup class="text-left" ng-init="usageDrone=(drone.missions.length / 50) * 100">
              <h4><span class="glyphicon glyphicon-hdd"></span>
              Drone Memory</h4>
              <uib-progressbar ng-hide="liveDroneData[drone._id] == 'offline'" type="info" max="100" value="usageDrone"></uib-progressbar>
              <p ng-show="liveDroneData[drone._id] == 'offline'">Offline.</p>
            </hgroup>
          </div>
        </div>
        <div class="accordionFooter">
          <hr>
          <button class="pull-right btn btn-default" ng-click="deleteDrone(drone)">
            <span class="glyphicon glyphicon-trash">
          </button>
        </div>
      </uib-accordion-group>
    </uib-accordion>
    <!-- TODO rara -->
    <!-- <div class="section" ng-repeat="drone in drones track by $index">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="alert alert-dismissable alert-success">
              <strong>Well done!</strong>You successfully read this important alert message.</div>
            <div
            class="well">
              <h2>Unit Stats</h2>
              <pre>{{drone | json}}</pre>
          </div>
          <div class="well">
            <h2>Cloud</h2>
            <p>Use our Cloud Feature to back up and sync your data and settings across
              your drones and computers.</p>
            <a class="active btn btn-info btn-sm">Click me&nbsp;<span class="badge">42</span></a>
            <div class="btn-group btn-group-sm">
              <a class="btn btn-link dropdown-toggle" data-toggle="dropdown"> Dropdown <span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#">Action</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img src="https://placekitten.com/200/200?image=5"
          class="img-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          <a class="btn btn-block btn-primary">View More</a>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">Profile</a>
                </li>
                <li>
                  <a href="#">Messages</a>
                </li>
              </ul> -->
              <!-- Uploader polls user each time. That's why there's so many requests. FIXME -->
              <!-- <uploader></uploader>
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
    </div> -->
</section>
