<section id="hangar">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h1>Hangar
                <small>{{drones.length}} Drones in Hangar</small>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <uib-accordion close-others="true" ng-click="footerOpen=!footerOpen">

      <!-- Simly -->
      <uib-accordion-group heading="">
        <uib-accordion-heading>
          <p class="text-right">
            <span class="pull-left lead">Simly</span>
            <span class="badge text-info">Drone Simulator</span>
            <span
              class="label"
              ng-class="{
                'label-success': simStatus == 'online',
                'label-danger': simStatus == 'offline'
                }">
                {{simStatus}}
            </span>
          </p>
        </uib-accordion-heading>
        <div class="row">
          <div class="col-sm-4">
            <div class="well" ng-init="isCollapsed = true">
              <h3>Simly</h3>

              <p>
                <strong>Hardware Id:</strong> Luci.sim-01 <br>
                <strong>Type:</strong> Simulator <br>
                <strong>Manufacturer:</strong> Dronesmith Technologies <br>
                <strong>System Id: </strong> 255 <br>
              </p>
              <a href="" target="_blank" class="btn btn-default" ui-sref="live({id: null})">Launch Fullscreen</a>
            </div>
          </div>
          <div class="col-sm-4">
            <img ng-show="simStatus == 'offline'" class="img-responsive" src="assets/img/lucismall.png">
            <renderer fullscreen="false" ng-show="simStatus == 'online'" bind="simStream"></renderer>
          </div>
          <div class="col-sm-4">
            <hgroup class="text-left">
              <h4><span class="glyphicon glyphicon-flash"></span>
              Power</h4>
              <uib-progressbar
                ng-hide="simStatus == 'offline'"
                type="info" max="100" value="simStream['SYS_STATUS'].battery_remaining">
              </uib-progressbar>
              <p ng-show="simStatus == 'offline'">Offline.</p>
            </hgroup>

            <!-- <pre>{{simStream | json}}</pre> -->

          </div>
        </div>

        <div ng-show="simStatus == 'online'" class="row">
          <div class="col-sm-4">
            <p><strong>Roll:</strong> {{(simStream['ATTITUDE'].roll * (180 / 3.14159)).toFixed(2)}}</p>
            <p><strong>Pitch:</strong> {{(simStream['ATTITUDE'].pitch * (180 / 3.14159)).toFixed(2)}}</p>
            <p><strong>Yaw:</strong> {{(simStream['ATTITUDE'].yaw * (180 / 3.14159)).toFixed(2)}}</p>
            <p><strong>Throttle:</strong> {{simStream['VFR_HUD'].throttle}}</p>
          </div>
          <div class="col-sm-4">
            <p><strong>Altitude:</strong> {{(simStream['VFR_HUD'].alt).toFixed(2)}}</p>
            <p><strong>Climb:</strong> {{(simStream['VFR_HUD'].climb).toFixed(2)}}</p>
            <p><strong>Heading:</strong> {{simStream['VFR_HUD'].heading}}</p>
            <p><strong>Ground Speed:</strong> {{(simStream['VFR_HUD'].groundspeed).toFixed(2)}}</p>
          </div>
          <div class="col-sm-4">
            <p><strong>Status:</strong> {{simStream['STATUSTEXT'].text}}</p>
          </div>
        </div>
          <!-- <pre>{{simStream | json}}</pre> -->
      </uib-accordion-group>

      <uib-accordion-group ng-repeat="drone in drones track by $index" heading="">
        <uib-accordion-heading>
          <p class="text-right">
            <span class="pull-left lead">{{drone.name || "drone-" + drone.firmwareId}}</span>
            <span class="badge text-info">{{drone.missions.length}} Missions</span>
            <span
              class="label"
              ng-class="{
                'label-success': liveDroneData[drone._id].status == 'online',
                'label-danger': liveDroneData[drone._id].status == 'offline',
                'label-info': !liveDroneData[drone._id]
                }">
                {{liveDroneData[drone._id].status || "working..."}}
            </span>
          </p>
        </uib-accordion-heading>
        <div class="row">
          <div class="col-sm-4">
            <div class="well" ng-init="isCollapsed = true">
              <h3>{{drone.name || "drone-" + drone.firmwareId}} <small>
                  <a href="" ng-click="isCollapsed=!isCollapsed; updateDrone(isCollapsed, drone)">{{isCollapsed ? 'edit' : 'update'}}</a></small></h3>
              <div uib-collapse="isCollapsed">
                <form class="well-sm">
                  <fieldset class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" ng-model="drone.name">
                  </fieldset>
                  <fieldset class="form-group">
                    <label>System Id</label>
                    <input class="form-control" type="number" ng-model="drone.systemId" min="1" max="254">
                  </fieldset>
                </form>
              </div>
              <p>
                <strong>Created On:</strong> {{drone.created | date:'medium'}} <br>
                <strong>Hardware Id:</strong> {{drone.hardwareId}} <br>
                <strong>Type:</strong> {{drone.type}} <br>
                <strong>Manufacturer:</strong> {{drone.manufacturer || "unknown"}} <br>
                <strong>System Id: </strong> {{drone.systemId}} <br>
              </p>
              <a href="" target="_blank" class="btn btn-default" ui-sref="live({id: drone._id})">Launch Fullscreen</a>
            </div>
          </div>
          <div class="col-sm-4">
            <img ng-show="liveDroneData[drone._id].status != 'online'" class="img-responsive" src="assets/img/lucismall.png">
            <renderer fullscreen="false" basealt="520" ng-show="liveDroneData[drone._id].status == 'online'" bind="mavStream[drone._id]"></renderer>
          </div>
          <div class="col-sm-4">
            <hgroup class="text-left">
              <h4><span class="glyphicon glyphicon-flash"></span>
              Power</h4>
              <uib-progressbar
                ng-hide="liveDroneData[drone._id].status != 'online'"
                type="info" max="100" value="mavStream[drone._id]['SYS_STATUS'].battery_remaining">
              </uib-progressbar>
              <p ng-show="liveDroneData[drone._id].status != 'online'">Offline.</p>
            </hgroup>

            <hgroup class="text-left" ng-init="usage=(drone.missions.length / 200) * 100">
              <h4><span class="glyphicon glyphicon-cloud"></span>
              Cloud Usage</h4>
              <uib-progressbar type="info" max="100" value="usage"></uib-progressbar>
            </hgroup>

            <hgroup class="text-left" ng-init="usageDrone=(drone.missions.length / 50) * 100">
              <h4><span class="glyphicon glyphicon-hdd"></span>
              Drone Memory</h4>
              <uib-progressbar ng-hide="liveDroneData[drone._id].status != 'online'" type="info" max="100" value="usageDrone"></uib-progressbar>
              <p ng-show="liveDroneData[drone._id].status != 'online'">Offline.</p>
            </hgroup>
          </div>
        </div>

        <div ng-show="liveDroneData[drone._id].status == 'online'" class="row">
          <div class="col-sm-4">
            <p><strong>Roll:</strong> {{(mavStream[drone._id]['ATTITUDE'].roll * (180 / 3.14159)).toFixed(2)}}</p>
            <p><strong>Pitch:</strong> {{(mavStream[drone._id]['ATTITUDE'].pitch * (180 / 3.14159)).toFixed(2)}}</p>
            <p><strong>Yaw:</strong> {{(mavStream[drone._id]['ATTITUDE'].yaw * (180 / 3.14159)).toFixed(2)}}</p>
            <p><strong>Throttle:</strong> {{mavStream[drone._id]['VFR_HUD'].throttle}}</p>
          </div>
          <div class="col-sm-4">
            <p><strong>Altitude:</strong> {{(mavStream[drone._id]['VFR_HUD'].alt).toFixed(2)}}</p>
            <p><strong>Climb:</strong> {{(mavStream[drone._id]['VFR_HUD'].climb).toFixed(2)}}</p>
            <p><strong>Heading:</strong> {{mavStream[drone._id]['VFR_HUD'].heading}}</p>
            <!-- <p><strong>Air Speed:</strong> {{mavStream[drone._id]['VFR_HUD'].airspeed}}</p> -->
            <p><strong>Ground Speed:</strong> {{(mavStream[drone._id]['VFR_HUD'].groundspeed).toFixed(2)}}</p>
          </div>
          <div class="col-sm-4">
            <p><strong>Status:</strong> {{mavStream[drone._id]['STATUSTEXT'].text}}</p>
          </div>
        </div>
          <strong ng-hide="liveDroneData[drone._id].status != 'online'">Mission Progess</strong>
          <uib-progressbar
            ng-hide="liveDroneData[drone._id].status != 'online'"
            type="info" min="180000" max="750000" value="mavStream[drone._id]['ATTITUDE'].time_boot_ms"></uib-progressbar>
          <!-- <pre>{{mavStream[drone._id] | json}}</pre> -->
        <div class="accordionFooter">
          <hr>
          <button class="pull-right btn btn-default" ng-click="deleteDrone(drone)">
            <span class="glyphicon glyphicon-trash">
          </button>
        </div>
      </uib-accordion-group>
    </uib-accordion>
</section>
